* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  /* height: 100vh;
  width: 100vw; */
  /* ghost white */
  background-color: #f8f8ff;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  font-size: 16px;
  white-space: nowrap;
  border: 0;
  outline: 0;
  display: inline-block;
  height: 40px;
  min-width: 120px;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
  color: #f8f8ff;
  border-radius: 4px;
  letter-spacing: 0.025em;
  background-color: #A8A8FF;
  text-decoration: none;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

button:hover {
  cursor: pointer;
  background-color: #7575FF;
  box-shadow: 0 7px 14px rgba(50, 50, 93, .10), 0 3px 6px rgba(0, 0, 0, .08);
}

#canvas {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#options {
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  background-color: #f0f8ff;
  border: 1px solid #f0f8ff;
  width: 25vw;
  padding: 12px;
  overflow: auto;

  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

/* Option icons */
.gg-arrow-left-o, .gg-close-o {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 22px;
    height: 22px;
    border: 2px solid #aadcff;
    transform: scale(var(--ggs,1));
    border-radius: 40px;
    cursor: pointer;
}
.gg-arrow-left-o::after,
.gg-arrow-left-o::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    left: 4px
}
.gg-arrow-left-o::after {
    width: 6px;
    height: 6px;
    border-bottom: 2px solid #aadcff;
    border-left: 2px solid #aadcff;
    transform: rotate(45deg);
    bottom: 6px
}
.gg-arrow-left-o::before {
    width: 10px;
    height: 2px;
    bottom: 8px;
    background: #aadcff;
}
.gg-close-o::after,
.gg-close-o::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 12px;
  height: 2px;
  background: #aadcff;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 3px
}
.gg-close-o::after {
  transform: rotate(-45deg)
}


#showOptions {
  visibility: hidden;
  position: absolute;
  top: 10px;
  right: 10px;
}

.riso-colour {
  display: inline-block;
  font-size: .85em;
  text-transform: lowercase;
  color: #fff;
  padding: 2px;
  margin: 2px;
  cursor: pointer;
}

.riso--options {
  font-size: 1.2em;
  padding: 8px 2px;
}

.riso-WHITE, .riso-CLEARMEDIUM, .riso-YELLOW, .riso-LIGHTLIME {
  color: #000;
}

.riso-WHITE--alt, .riso-CLEARMEDIUM--alt, .riso-YELLOW--alt, .riso-LIGHTLIME--alt {
  color: #000;
}

.option--container {
  margin: 12px 6px;
  padding: 0 12px;
  min-height: 60px;
}

input, select, textarea {
  color: #424242;
  /* display: block; */
  padding: 8px 14px;
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px, rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border: 1px solid rgba(42, 42, 42, 0.5);
  border-radius: 4px;
  background-color: white;
  font-size: 0.8em;
}

.option--container input, .option--container select {
  margin-bottom: 14px;
}
